<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TechBattle</title>
    <h1>Battle Arena</h1>
  </head>
  <body>
    <h4>
      <%= @game.player_1.name %> vs <%= @game.player_2.name %>
    </h4>
    <div>
      <%= @game.player_1.name %> HP: <%= @game.player_1.hitpoints %>
      <%= @game.player_2.name %> HP: <%= @game.player_2.hitpoints %>
    </div>
    <div>
      <%= @game.player_move.name %>s Move
    </div>
    <div>
      <form action="/attack" method="post">
        <input type="submit" value="Attack">
      </form>
    </div>
  </body>
</html>
